.general-button {
    background-color: variables.$btn-color;
    color: variables.$font-color;
    font-family: variables.$second-font;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    max-width: 228px;
    width: 100%;
    min-height: 63px;
    height: 100%;
}
.submit-btn {
    background-color: variables.$btn-color;
    color: variables.$font-color;
    font-family: variables.$second-font;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    max-width: 153px;
    width: 100%;
    min-height: 63px;
    height: 100%;
}