$main-font: "Josefin Sans", sans-serif;
$second-font: "Aleo", serif;

$btn-color: #5474FD;
$font-color: #FFFFFF;
$second-font-color: #E8E8E8;
$third-font-color: #FEFEFE;
$card-background-color: #232323;
$form-color: #999999;
$background-color-div: #333333;
